# Cấu hình Server
PORT=3000

# Cấu hình Database MySQL/TiDB
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=quanly_trungtam_ngoaingu

# Cấu hình thanh toán tự động (SePay/VietQR)
ACCOUNT_NAME=
ACCOUNT_NO=
BANK_ID=
BANK_NAME=

# Cấu hình Email gửi thông báo
EMAIL_PASS=